/*  primary  */
$primary-color: #E9CD75;
$primary-hover-color: #E9CD75;
$primary-focus-color: #E9CD7580;
$primary-secondary-color: #E9CD7535;
$primary-selected-color: #E9CD7526;
$primary-highlight-color: #E9CD7515;

/*  secondary  */
$secondary-gray-color: #989898;
