/*  primary  */
$primary-color: #AA7F23;
$primary-hover-color: #AA7F23;
$primary-focus-color: #AA7F2380;
$primary-secondary-color: #AA7F2335;
$primary-selected-color: #AA7F2326;
$primary-highlight-color: #AA7F2315;

/*  secondary  */
$secondary-gray-color: #989898;
